---
title: "Purdue ARC"
---

{{< blocks/cover title=" The Autonomous Robotics Club of Purdue" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
We are building autonomous systems that advance the field of robotics.
Our projects cover a wide range of disciplines and tackle problems at the forefront of research.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Learn more" url="/about" %}}
To learn more about our club and how it operates, checkout the about page.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Read the code" url="https://github.com/purdue-arc" %}}
Explore our open-source projects on GitHub.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter" url="https://twitter.com/purduerobotics" %}}
To get miscellaneous updates, follow our Twitter account.
{{% /blocks/feature %}}


{{< /blocks/section >}}

